:root {
  --brand-green: #2AD18A;
  --brand-grey: #DFDEE7;
}

@font-face {
    font-family: Inter;
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: LeagueGothic;
    src: url(./fonts/LeagueGothic-Regular-VariableFont_wdth.ttf);
}

@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins/Poppins-Medium.ttf) format(truetype);
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins/Poppins-SemiBold.ttf) format(truetype);
    font-weight: 600;
}

body {
    margin: 0;
}

.header {
    background-color: white;
    display: flex;
    padding: 14px 24px;
    justify-content: space-between;
}

header > * {
    flex: 1 1 100%;
}

.header__name-box {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 8px;
}

.header__name {
    font-family: Poppins, monospace;
    font-weight: 600;
    font-size: 24px;
    color: var(--brand-green);
    text-transform: uppercase;
    line-height: 100%;
    display: block;
}

.header__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 26px;
}

.header__direction {
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
}

.header__login-box {
    display: flex;
    justify-content: right;
}

.header__login {
    font-family: Inter, serif;
    font-weight: 600;
    font-size: 14px;
    color: white;
    background-color: var(--brand-green);
    padding: 14px 24px;
    border-radius: 8px;
}

.page {
    margin: 40px 80px 80px 80px;
    height: 606px;
    display: flex;
    column-gap: 40px;
}

.page > * {
    flex: 1 1 100%;
}

.main-article {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    max-height: 100%;
}

.main-article__image {
    flex-shrink: 1;
    max-width: 100%;
    max-height: 100%;
    min-height: 0;
    object-fit: cover;
}

.main-article__header {
    font-family: LeagueGothic, serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 110%;
    padding: 0;
    margin: 0;
}

.main-article__summary {
    font-family: Inter, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    margin: 0px;
}

.top {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.top__header {
    font-family: Inter, serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    color: var(--brand-green);
    margin-left: 48px;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.article {
    display: flex;
    column-gap: 16px;
}

.article__enumerator {
    font-family: Poppins;
    font-weight: 500;
    color: var(--brand-green);
    background-color: var(--brand-grey);
    width: 32px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article__text {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.article__header {
    font-family: Inter, serif;
    font-size: 22px;
    line-height: 140%;
    margin: 0px;
}

.article__author {
    font-family: Inter, serif;
    font-size: 16px;
    color: var(--brand-green);
    text-transform: uppercase;
}

.article__metrics {
    font-family: Inter, serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: #9DA3AE;
    display: flex;
}

.article__time {
    width: 84px;
    border-right: 1px solid #9DA3AE;
}

.article__comment-container {
    display: block;
    box-sizing: border-box;
    height: 24px;
    width: 24px;
    margin-left: 16px;
    margin-right: 6px;
    padding: 4px;
}

.article__imagebox {
    width: 200px;
    height: 124px;
    background-color: var(--brand-grey);
    flex: 0 0 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.relevant {
    margin: 40px 80px 80px 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
}

.compact-article {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-height: 100%;
}

.compact-article__image {
    flex: 1 1 100%;
    max-width: 100%;
    max-height: 242.69px;
    min-height: 0;
    object-fit: cover;
}

.compact-article__header {
    font-family: Inter, serif;
    font-size: 22px;
    line-height: 140%;
    margin: 0;
}

.compact-article__summary {
    font-family: Inter, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    margin: 0px;
}

.footer {
    padding: 80px;
    border-top: 1px solid #9DA3AE;
}

.footer__logo {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
}

.footer__links {
    font-family: Inter, serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 160%;
    margin: 0;
}