@media (orientation: portrait) {
    .header__toggle {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 1000;
        display: none;
    }
    .header__hamburger-container{
        position: absolute;
        top: 20px;
        left: -40px;
        z-index: 1000;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header__hamburger-icon{
        object-fit: contain;
        color: var(--brand-green);
        min-width: 0;
        min-height: 0;
        cursor: pointer;
    }
    .header {
        flex-direction: column;
        row-gap: 24px;
        position: fixed;
        right: 0;
        top: 0;
        transform: translateX(100%);
        transition: transform 0.3s ease-out;
    }
    .header__navigation {
        flex-direction: column;
        row-gap: 10px;
    }
    .header__login-box {
        justify-content: center;
    }
    [data-menu="visible"].header {
        transform: translateX(0);
    }
}

@media (orientation: landscape) {
    .header__toggle { display: none; }
    .header__hamburger-icon { display: none; }
    .header {
        position: static;
    }
}

.header {
    background-color: white;
    display: flex;
    padding: 14px 24px;
    justify-content: space-between;
}

.header__name-box {
    flex: 1 1 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 8px;
}

.header__name {
    font-family: Poppins, monospace;
    font-weight: 600;
    font-size: 24px;
    color: var(--brand-green);
    text-transform: uppercase;
    line-height: 100%;
    display: block;
}

.header__navigation {
    flex: 1 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 26px;
}

.header__direction {
    font-family: Inter, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
}

.header__login-box {
    flex: 1 1 100%;
    display: flex;
    justify-content: right;
}

.header__login {
    font-family: Inter, serif;
    font-weight: 600;
    font-size: 14px;
    color: white;
    background-color: var(--brand-green);
    padding: 14px 24px;
    border-radius: 8px;
}